/* Start Variables */
:root {
    --main-transition-du: 0.3s;
    --main-color: #D0D6F9;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

/* End Global Rules */

/* start header */

body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
}

@media (max-width: 992px) {
    body {
        background-image: url(../assets/home/background-home-tablet.jpg);
        background-size: cover;
    }
}

@media (max-width: 768px) {
    body {
        background-image: url(../assets/home/background-home-mobile.jpg);
        background-size: cover;
    }
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    margin-top: 50px;
    margin-bottom: 50px;
}

header .container .pages {
    display: flex;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(40px);
    position: relative;
}

@media (max-width: 768px) {
    header .container .pages {
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 100;
        top: 150px;
        right: -10px;
    }

    header .container .pages.active {
    display: flex;
    }
}

@media (max-width: 992px) {
    header .container .pages {
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 100;
        top: 150px;
        right: -10px;
    }

    header .container .pages.active {
    display: flex;
    }
}

header .container .pages::before {
    content: "";
    position: absolute;
    left: -65%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 5;
}

@media (max-width: 992px) {
    header .container .pages::before {
        display: none;
    }
}

@media (max-width: 768px) {
    header .container .pages::before {
        display: none;
    }
}

header .container .pages li a {
    display: flex;
    padding: 10px 12px;
    margin-right: 50px;
    cursor: pointer;
    color: var(--main-color);
    border-bottom: 2px solid transparent;
    padding-bottom: 12px;
    transition: border-color var(--main-transition-du) ease, color var(--main-transition-du) ease;
}

@media (max-width: 768px) {
    header .container .pages li a {
        margin-bottom: 10px;
        width: 100%;
        border-bottom: 2px solid #ddd;
    }
}

@media (max-width: 992px) {
    header .container .pages li a {
        margin-bottom: 10px;
        width: 100%;
        border-bottom: 2px solid #ddd;
    }
}

header .container .pages li:hover a {
    color: white;
    border-bottom-color: white;
    /* transform: scale(1.1); */
}

header .container .pages li:last-child {
    margin-right: 0px;
}

header .container .pages li.active a {
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    color: white;
}

header .container .menu-toggle {
    cursor: pointer;
    display: none;
}

@media (max-width: 768px) {
    header .container .menu-toggle {
        display: block;
    }

    header .container .menu-toggle .close {
        display: none;
    }

    header .container .menu-toggle.active .open {
        display: none;
    }

    header .container .menu-toggle.active .close {
        display: block;
    }
}

@media (max-width: 992px) {
    header .container .menu-toggle {
        display: block;
    }

    header .container .menu-toggle .close {
        display: none;
    }

    header .container .menu-toggle.active .open {
        display: none;
    }

    header .container .menu-toggle.active .close {
        display: block;
    }
}

/* end header */

/*  start content */

main .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    main .container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
}

main .container .first-side {
    position: relative;
}

@media (max-width: 992px) {
    main .container .first-side {
        margin-bottom: 100px;
    }
}

main .container .first-side h1 {
    color: var(--main-color);
    text-transform: uppercase;
    word-spacing: 5px;
    margin-bottom: 100px;
}

main .container .first-side h1 span {
    color: #dfdfdfe3;
    margin-right: 20px;
}

main .container .first-side .role {
    font-family: "", serif;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 30px;
}

main .container .first-side .name {
    font-family: "", serif;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
}

main .container .first-side p {
    color: var(--main-color);
    max-width: 410px;
    width: 100%;
    line-height: 1.8;
}

@media (max-width: 992px) {
    main .container .first-side p {
        max-width: 800px;
        width: 90%;
        margin: 0 auto 80px;
        
    }
}

main .container .first-side .dots {
    display: flex;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
}

@media (max-width: 992px) {
    main .container .first-side .dots {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

main .container .first-side .dots a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c9c9c94b;
    margin-right: 15px;
    transition: background-color var(--main-transition-du) ease;
}

main .container .first-side .dots a:hover {
    background-color: white;
}

main .container .first-side .dots a:last-child {
    margin-right: 0;
}

main .container .first-side .dots a.active {
    background-color: white;
}

@media (max-width: 992px) {
    main .container .second-side {
        align-self: center;
    }
    main .container .second-side img {
        box-shadow: 10px 5px 5px #b1b1b160;
        border-radius: 8px;
        margin-bottom: 20px;
    }
}

main .container .second-side .mobile {
    display: none;
}

@media (max-width: 992px) {
    main .container .second-side .desctop {
    display: none;
    }

    main .container .second-side .mobile {
    display: block;
    }
}

/*  end content */